/*difinindo linhas de raciocício*/
.linha 
{
    margin-top:30px;
	/*
	margin-right: -15px;
	margin-left: -15px; 
*/
}

.linha:after, .linha:before 
{
    display: table;
	content: " ";
	clear: both
}

/*dividindo em 12 partes a tela*/
.coluna-1, .coluna-2, .coluna-3, .coluna-4, 
.coluna-5, .coluna-6, .coluna-7, .coluna-8, 
.coluna-9, .coluna-10, .coluna-11, .coluna-12 {
	position: relative;
	min-height: 1px;
	/*
	padding-right: 15px;
	padding-left: 15px;
*/
}


 
.right {float:right; margin-right:0; margin-left:10px; margin-bottom:5px;}

.left {float:left; margin-left:0; margin-right:10px; margin-bottom:5px;}

/*retirante essa divisão e deixando responsivo*/
@media ( min-width :1192px) {
	.coluna-1, .coluna-2, .coluna-3, .coluna-4, 
	.coluna-5, .coluna-6, .coluna-7, .coluna-8, 
	.coluna-9, .coluna-10, .coluna-11, .coluna-12 {
		float: left
	}
	.coluna-12 {
		width: 100%
	}
	.coluna-11 {
		width: 91.66666667%
	}
	.coluna-10 {
		width: 83.33333333%
	}
	.coluna-9 {
		width: 75%
	}
	.coluna-8 {
		width: 66.66666667%
	}
	.coluna-7 {
		width: 58.33333333%
	}
	.coluna-6 {
		width: 54%
	}
	.coluna-5 {
		width: 50.66666667%
	}
	.coluna-4 {
		width: 33.33333333%
	}
	.coluna-3 {
		width: 25%
	}
	.coluna-2 {
		width: 7.66666667%
	}
	.coluna-1 {
		width: 8.33333333%
	}
	
}

@media ( min-width :999px) and (max-width : 1191px) {
	.coluna-1, .coluna-2, .coluna-3, .coluna-4, 
	.coluna-5, .coluna-6, .coluna-7, .coluna-8, 
	.coluna-9, .coluna-10, .coluna-11, .coluna-12 {
		float: left
	}
	.coluna-12 {
		width: 100%
	}
	.coluna-11 {
		width: 91.66666667%
	}
	.coluna-10 {
		width: 83.33333333%
	}
	.coluna-9 {
		width: 75%
	}
	.coluna-8 {
		width: 66.66666667%
	}
	.coluna-7 {
		width: 58.33333333%
	}
	.coluna-6 {
		width: 54%
	}
	.coluna-5 {
		width: 46.66666667%
	}
	.coluna-4 {
		width: 46.999999%
	}
	.coluna-3 {
		width: 25%
	}
	.coluna-2 {
		width: 0%
	}
	.coluna-1 {
		width: 6.33333333%
	}
	
}

@media ( min-width :888px) and (max-width : 998px) {
	.coluna-1, .coluna-2, .coluna-3, .coluna-4, 
	.coluna-5, .coluna-6, .coluna-7, .coluna-8, 
	.coluna-9, .coluna-10, .coluna-11, .coluna-12 {
		float: left
	}
	.coluna-12 {
		width: 100%
	}
	.coluna-11 {
		width: 91.66666667%
	}
	.coluna-10 {
		width: 83.33333333%
	}
	.coluna-9 {
		width: 75%
	}
	.coluna-8 {
		width: 66.66666667%
	}
	.coluna-7 {
		width: 58.33333333%
	}
	.coluna-6 {
		width: 54%
	}
	.coluna-5 {
		width: 48.66666667%
	}
	.coluna-4 {
		width: 46.999999%
	}
	.coluna-3 {
		width: 25%
	}
	.coluna-2 {
		width: 0%
	}
	.coluna-1 {
		width: 4.33333333%
	}
	
}

@media (min-width :777px) and (max-width : 887px) {
	.coluna-1, .coluna-2, .coluna-3, .coluna-4, 
	.coluna-5, .coluna-6, .coluna-7, .coluna-8, 
	.coluna-9, .coluna-10, .coluna-11, .coluna-12 {
		float: left
	}
	.coluna-12 {
		width: 100%
	}
	.coluna-11 {
		width: 91.66666667%
	}
	.coluna-10 {
		width: 83.33333333%
	}
	.coluna-9 {
		width: 75%
	}
	.coluna-8 {
		width: 66.66666667%
	}
	.coluna-7 {
		width: 58.33333333%
	}
	.coluna-6 {
		width: 50%
	}
	.coluna-5 {
		width: 48.66666667%
	}
	.coluna-4 {
		width: 48.999999%
	}
	.coluna-3 {
		width: 25%
	}
	.coluna-2 {
		width: 0%
	}
	.coluna-1 {
		width: 2.33333333%
	}
	
}

@media (max-width : 776px) {
	.esquerda 
	{
	    padding-left:5%;
	    padding-right:15%;
	}
	.esquerda img
	{
	    padding-left:0%;
	    padding-right:0%;
	}
	.direita 
	{
	    padding-left:15%;
	    padding-right:26% !important;
	}
	.direita img
	{
	    padding-left:0%;
	    padding-right:0%;
	}
}


.direita
	{
	    text-align:right;
	    /*padding-right:0.01%;*/
	}
	