#top_bar {
	display: none
}


.page_title_ctn {
	padding-top: 43px;
	padding-bottom: 43px
}


.blue_btn {
	background: #2f3245
}

.slider_button.blue_btn {
	font-size: 16px
}

.slider_button:hover {
	background: gold
}


.slider_button {
	color: #fff
}

.slider_button.stroke:hover {
	color: #fff;
	background: #2f3245;
	border-color: #2f3245
}

.slider_button.stroke {
	border-width: 1px;
	font-size: 16px
}


#b_84amrz0gk6jpvzmo6s3q a {
	color: #767389;
	background: #ffffff;
	border-style: solid;
	border-color: #767389;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: 900;
	border-radius: 4px;
}

#b_84amrz0gk6jpvzmo6s3q a:hover {
	color: #ffffff;
	background: #2c3e50;
	border-color: #2c3e50;
}




#b_84amrz0gk6jpvzmo6s3q .mfg-right-open:before {
	font-family: 'mfg';
	font-weight: normal;
	font-style: normal;
}

#b_84amrz0gk6jpvzmo6s3q .mfg-right-open:before {
	content: "\e848";
}


#rd_cidti8m8znrpwg0bnx4i {
	margin-top: 0;
	margin-bottom: 0;
}

#rd_cidti8m8znrpwg0bnx4i .rd_pc_status {
	color: #4e4e4e;
}

#rd_cidti8m8znrpwg0bnx4i .rd_pc_heading {
	color: #ffffff;
}

#rd_cidti8m8znrpwg0bnx4i .rd_pc_text {
	color: #ffffff;
}


#rd_z10yxrwwf8sbtlp5rmf0 {
	margin-top: 0;
	margin-bottom: 0;
}

#rd_z10yxrwwf8sbtlp5rmf0 .rd_pc_status {
	color: #ffffff;
}

#rd_z10yxrwwf8sbtlp5rmf0 .rd_pc_heading {
	color: #ffffff;
}

#rd_z10yxrwwf8sbtlp5rmf0 .rd_pc_text {
	color: #ffffff;
}


#rd_rsd3h1ihihmqwbl4ecgm {
	margin-top: 0;
	margin-bottom: 0;
}

#rd_rsd3h1ihihmqwbl4ecgm .rd_pc_status {
	color: #4e4e4e;
}

#rd_rsd3h1ihihmqwbl4ecgm .rd_pc_heading {
	color: #ffffff;
}

#rd_rsd3h1ihihmqwbl4ecgm .rd_pc_text {
	color: #ffffff;
}


#rd_89qo4kxv0tg6skmdvfho {
	margin-top: 0;
	margin-bottom: 0;
}

#rd_89qo4kxv0tg6skmdvfho .rd_pc_status {
	color: #4e4e4e;
}

#rd_89qo4kxv0tg6skmdvfho .rd_pc_heading {
	color: #ffffff;
}

#rd_89qo4kxv0tg6skmdvfho .rd_pc_text {
	color: #ffffff;
}


#b_7bmn0ezsxt2mw548b7ab a {
	color: gold;
	background:;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: 900;
	border-radius: 4px;
}

#b_7bmn0ezsxt2mw548b7ab a:hover {
	color:;
	background:;
}




#b_7bmn0ezsxt2mw548b7ab .mfg-right-open:before {
	font-family: 'mfg';
	font-weight: normal;
	font-style: normal;
}

#b_7bmn0ezsxt2mw548b7ab .mfg-right-open:before {
	content: "\e848";
}


#b_actb2li4e19ni6c3grti a {
	color: gold;
	background:;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: 900;
	border-radius: 4px;
}

#b_actb2li4e19ni6c3grti a:hover {
	color:;
	background:;
}




#b_actb2li4e19ni6c3grti .mfg-right-open:before {
	font-family: 'mfg';
	font-weight: normal;
	font-style: normal;
}

#b_actb2li4e19ni6c3grti .mfg-right-open:before {
	content: "\e848";
}


#b_czm1vxsvwfew59w2ih6w a {
	color: gold;
	background:;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: 900;
	border-radius: 4px;
}

#b_czm1vxsvwfew59w2ih6w a:hover {
	color:;
	background:;
}




#b_czm1vxsvwfew59w2ih6w .mfg-right-open:before {
	font-family: 'mfg';
	font-weight: normal;
	font-style: normal;
}

#b_czm1vxsvwfew59w2ih6w .mfg-right-open:before {
	content: "\e848";
}




#rand_yfns2toi7d6o035mkwul .elg-icon_lightbulb_alt:before {
	font-family: 'elg';
	font-weight: normal;
	font-style: normal;
}

#rand_yfns2toi7d6o035mkwul .elg-icon_lightbulb_alt:before {
	content: "\e007";
}


.rd_list_1 .list_item_ctn {
	border-color: #ecf0f1
}

.rd_list_1 #rand_yfns2toi7d6o035mkwul .list_icn i, .rd_list_1_alt #rand_yfns2toi7d6o035mkwul .list_icn i
	{
	color: gold;
}

.rd_list_2 #rand_yfns2toi7d6o035mkwul:after {
	background: #ffffff;
}

.rd_list_2 #rand_yfns2toi7d6o035mkwul .list_icn i {
	color: gold;
}

.rd_list_3 #rand_yfns2toi7d6o035mkwul .list_icn, .rd_list_5 #rand_yfns2toi7d6o035mkwul .list_icn,
	.rd_list_6 #rand_yfns2toi7d6o035mkwul .list_icn {
	background: gold;
}

.rd_list_4 #rand_yfns2toi7d6o035mkwul {
	background: gold;
}

#rand_yfns2toi7d6o035mkwul h3 {
	color: #ffffff;
}

#rand_yfns2toi7d6o035mkwul p {
	color: #ffffff;
}

.rd_list_7 #rand_yfns2toi7d6o035mkwul .list_icn {
	color: gold;
}




#rand_vph8a61mku3cmwckyhgf .elg-icon_lifesaver:before {
	font-family: 'elg';
	font-weight: normal;
	font-style: normal;
}

#rand_vph8a61mku3cmwckyhgf .elg-icon_lifesaver:before {
	content: "\e028";
}


.rd_list_1 .list_item_ctn {
	border-color: #ecf0f1
}

.rd_list_1 #rand_vph8a61mku3cmwckyhgf .list_icn i, .rd_list_1_alt #rand_vph8a61mku3cmwckyhgf .list_icn i
	{
	color: gold;
}

.rd_list_2 #rand_vph8a61mku3cmwckyhgf:after {
	background: #ffffff;
}

.rd_list_2 #rand_vph8a61mku3cmwckyhgf .list_icn i {
	color: gold;
}

.rd_list_3 #rand_vph8a61mku3cmwckyhgf .list_icn, .rd_list_5 #rand_vph8a61mku3cmwckyhgf .list_icn,
	.rd_list_6 #rand_vph8a61mku3cmwckyhgf .list_icn {
	background: gold;
}

.rd_list_4 #rand_vph8a61mku3cmwckyhgf {
	background: gold;
}

#rand_vph8a61mku3cmwckyhgf h3 {
	color: #ffffff;
}

#rand_vph8a61mku3cmwckyhgf p {
	color: #ffffff;
}

.rd_list_7 #rand_vph8a61mku3cmwckyhgf .list_icn {
	color: gold;
}




#rand_0bn6pyicy6vk0v52v3cu .elg-icon_like:before {
	font-family: 'elg';
	font-weight: normal;
	font-style: normal;
}

#rand_0bn6pyicy6vk0v52v3cu .elg-icon_like:before {
	content: "\e106";
}


.rd_list_1 .list_item_ctn {
	border-color: #ecf0f1
}

.rd_list_1 #rand_0bn6pyicy6vk0v52v3cu .list_icn i, .rd_list_1_alt #rand_0bn6pyicy6vk0v52v3cu .list_icn i
	{
	color: gold;
}

.rd_list_2 #rand_0bn6pyicy6vk0v52v3cu:after {
	background: #ffffff;
}

.rd_list_2 #rand_0bn6pyicy6vk0v52v3cu .list_icn i {
	color: gold;
}

.rd_list_3 #rand_0bn6pyicy6vk0v52v3cu .list_icn, .rd_list_5 #rand_0bn6pyicy6vk0v52v3cu .list_icn,
	.rd_list_6 #rand_0bn6pyicy6vk0v52v3cu .list_icn {
	background: gold;
}

.rd_list_4 #rand_0bn6pyicy6vk0v52v3cu {
	background: gold;
}

#rand_0bn6pyicy6vk0v52v3cu h3 {
	color: #ffffff;
}

#rand_0bn6pyicy6vk0v52v3cu p {
	color: #ffffff;
}

.rd_list_7 #rand_0bn6pyicy6vk0v52v3cu .list_icn {
	color: gold;
}



#rand_mt99llvh9zkgxuw1h8rc .elg-icon_laptop:before {
	font-family: 'elg';
	font-weight: normal;
	font-style: normal;
}

#rand_mt99llvh9zkgxuw1h8rc .elg-icon_laptop:before {
	content: "\e00d";
}


.rd_list_1 .list_item_ctn {
	border-color: #ecf0f1
}

.rd_list_1 #rand_mt99llvh9zkgxuw1h8rc .list_icn i, .rd_list_1_alt #rand_mt99llvh9zkgxuw1h8rc .list_icn i
	{
	color: gold;
}

.rd_list_2 #rand_mt99llvh9zkgxuw1h8rc:after {
	background: #ffffff;
}

.rd_list_2 #rand_mt99llvh9zkgxuw1h8rc .list_icn i {
	color: gold;
}

.rd_list_3 #rand_mt99llvh9zkgxuw1h8rc .list_icn, .rd_list_5 #rand_mt99llvh9zkgxuw1h8rc .list_icn,
	.rd_list_6 #rand_mt99llvh9zkgxuw1h8rc .list_icn {
	background: gold;
}

.rd_list_4 #rand_mt99llvh9zkgxuw1h8rc {
	background: gold;
}

#rand_mt99llvh9zkgxuw1h8rc h3 {
	color: #ffffff;
}

#rand_mt99llvh9zkgxuw1h8rc p {
	color: #ffffff;
}

.rd_list_7 #rand_mt99llvh9zkgxuw1h8rc .list_icn {
	color: gold;
}



#rand_ibowje11jcgkgj2r7ow0 .elg-icon_wallet:before {
	font-family: 'elg';
	font-weight: normal;
	font-style: normal;
}

#rand_ibowje11jcgkgj2r7ow0 .elg-icon_wallet:before {
	content: "\e100";
}


.rd_list_1 .list_item_ctn {
	border-color: #ecf0f1
}

.rd_list_1 #rand_ibowje11jcgkgj2r7ow0 .list_icn i, .rd_list_1_alt #rand_ibowje11jcgkgj2r7ow0 .list_icn i
	{
	color: gold;
}

.rd_list_2 #rand_ibowje11jcgkgj2r7ow0:after {
	background: #ffffff;
}

.rd_list_2 #rand_ibowje11jcgkgj2r7ow0 .list_icn i {
	color: gold;
}

.rd_list_3 #rand_ibowje11jcgkgj2r7ow0 .list_icn, .rd_list_5 #rand_ibowje11jcgkgj2r7ow0 .list_icn,
	.rd_list_6 #rand_ibowje11jcgkgj2r7ow0 .list_icn {
	background: gold;
}

.rd_list_4 #rand_ibowje11jcgkgj2r7ow0 {
	background: gold;
}

#rand_ibowje11jcgkgj2r7ow0 h3 {
	color: #ffffff;
}

#rand_ibowje11jcgkgj2r7ow0 p {
	color: #ffffff;
}

.rd_list_7 #rand_ibowje11jcgkgj2r7ow0 .list_icn {
	color: gold;
}




#rand_hhpwbchnlqeorgjvuw9v .elg-icon_star_alt:before {
	font-family: 'elg';
	font-weight: normal;
	font-style: normal;
}

#rand_hhpwbchnlqeorgjvuw9v .elg-icon_star_alt:before {
	content: "\e031";
}


.rd_list_1 .list_item_ctn {
	border-color: #ecf0f1
}

.rd_list_1 #rand_hhpwbchnlqeorgjvuw9v .list_icn i, .rd_list_1_alt #rand_hhpwbchnlqeorgjvuw9v .list_icn i
	{
	color: gold;
}

.rd_list_2 #rand_hhpwbchnlqeorgjvuw9v:after {
	background: #ffffff;
}

.rd_list_2 #rand_hhpwbchnlqeorgjvuw9v .list_icn i {
	color: gold;
}

.rd_list_3 #rand_hhpwbchnlqeorgjvuw9v .list_icn, .rd_list_5 #rand_hhpwbchnlqeorgjvuw9v .list_icn,
	.rd_list_6 #rand_hhpwbchnlqeorgjvuw9v .list_icn {
	background: gold;
}

.rd_list_4 #rand_hhpwbchnlqeorgjvuw9v {
	background: gold;
}

#rand_hhpwbchnlqeorgjvuw9v h3 {
	color: #ffffff;
}

#rand_hhpwbchnlqeorgjvuw9v p {
	color: #ffffff;
}

.rd_list_7 #rand_hhpwbchnlqeorgjvuw9v .list_icn {
	color: gold;
}


#tm_pdxt3zn6vqn4sfwtcw5w.rd_tm_3 .tm_author {
	color: #2c3e50;
}

#tm_pdxt3zn6vqn4sfwtcw5w.rd_tm_3 .tm_text, #tm_pdxt3zn6vqn4sfwtcw5w.rd_tm_3 .tm_text:after,
	#tm_pdxt3zn6vqn4sfwtcw5w.rd_tm_3 .tm_image {
	color: #a1b1bc;
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#tm_pdxt3zn6vqn4sfwtcw5w.rd_tm_3 .rd_tm_pager a {
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#tm_pdxt3zn6vqn4sfwtcw5w.rd_tm_3 .tm_info {
	color: #a1b1bc;
}

#tm_pdxt3zn6vqn4sfwtcw5w.rd_tm_3 .rd_tm_pager a.selected:after {
	background: gold;
}

#tm_pdxt3zn6vqn4sfwtcw5w {
	margin-top: 20px;
	margin-bottom: 0px;
}

/*passando lateral*/

#passa1.rd_tm_3 .tm_author {
	color: #2c3e50;
}

#passa1.rd_tm_3 .tm_text, #passa1.rd_tm_3 .tm_text:after,
	#passa1.rd_tm_3 .tm_image {
	color: #a1b1bc;
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa1.rd_tm_3 .rd_tm_pager a {
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa1.rd_tm_3 .tm_info {
	color: #a1b1bc;
}

#passa1.rd_tm_3 .rd_tm_pager a.selected:after {
	background: gold;
}

#passa1.rd_tm_3 .rd_tm_pager a:after {
	background: rgba(255, 215, 0, 0.22);;
}
#passa1 {
	margin-top: 20px;
	margin-bottom: 0px;
}

/*passa 2*/
#passa2.rd_tm_3 .tm_author {
	color: #2c3e50;
}

#passa2.rd_tm_3 .tm_text, #passa2.rd_tm_3 .tm_text:after,
	#passa2.rd_tm_3 .tm_image {
	color: #a1b1bc;
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa2.rd_tm_3 .rd_tm_pager a {
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa2.rd_tm_3 .tm_info {
	color: #a1b1bc;
}

#passa2.rd_tm_3 .rd_tm_pager a:after {
	background-color:rgba(147, 103, 59, 0.22);
}

#passa2.rd_tm_3 .rd_tm_pager a.selected:after {
	background: Maroon;
}

#passa2 {
	margin-top: 20px;
	margin-bottom: 0px;
}

/*passa 3*/
#passa3.rd_tm_3 .tm_author {
	color: #2c3e50;
}

#passa3.rd_tm_3 .tm_text, #passa3.rd_tm_3 .tm_text:after,
	#passa3.rd_tm_3 .tm_image {
	color: #a1b1bc;
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa3.rd_tm_3 .rd_tm_pager a {
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa3.rd_tm_3 .tm_info {
	color: #a1b1bc;
}

#passa3.rd_tm_3 .rd_tm_pager a:after {
	background-color:rgba(0, 192, 204, 0.22);;
}

#passa3.rd_tm_3 .rd_tm_pager a.selected:after {
	background: #009ead;
}

#passa3 {
	margin-top: 20px;
	margin-bottom: 0px;
}
/*passa 4*/
#passa4.rd_tm_3 .tm_author {
	color: #2c3e50;
}

#passa4.rd_tm_3 .tm_text, #passa4.rd_tm_3 .tm_text:after,
	#passa4.rd_tm_3 .tm_image {
	color: #a1b1bc;
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa4.rd_tm_3 .rd_tm_pager a {
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa4.rd_tm_3 .tm_info {
	color: #a1b1bc;
}

#passa4.rd_tm_3 .rd_tm_pager a:after {
	background-color:rgba(0, 0, 0, 0.22);;
}

#passa4.rd_tm_3 .rd_tm_pager a.selected:after {
	background: black;
}

#passa4 {
	margin-top: 20px;
	margin-bottom: 0px;
}
/*passa 5*/
#passa5.rd_tm_3 .tm_author {
	color: #2c3e50;
}

#passa5.rd_tm_3 .tm_text, #passa5.rd_tm_3 .tm_text:after,
	#passa5.rd_tm_3 .tm_image {
	color: #a1b1bc;
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa5.rd_tm_3 .rd_tm_pager a {
	background: #ffffff;
	border: 1px solid #eef1f3;
}

#passa5.rd_tm_3 .tm_info {
	color: #a1b1bc;
}

#passa5.rd_tm_3 .rd_tm_pager a:after {
	background-color:rgba(0, 0, 0, 0.22);;
}

#passa5.rd_tm_3 .rd_tm_pager a.selected:after {
	background: black;
}

#passa5 {
	margin-top: 20px;
	margin-bottom: 0px;
}
/* fim do passando */

#rd_ynbdz7qz64yorrigzjqi {
	margin: 0px auto 0px;
}

#rd_ynbdz7qz64yorrigzjqi div a {
	color: #ffffff;
}

#rd_ynbdz7qz64yorrigzjqi div 
{
    width: 20%;
    padding-top:60px !important;
    padding-bottom:60px !important;
}

#rd_ynbdz7qz64yorrigzjqi teste 
{
    padding-top:100px !important;
    padding-bottom:100px !important;


#rd_t165y038r01dgks3tk4j .wpcf7 input[type=submit] {
	font-size: 16px;
	font-weight: 900;
	border-radius: 3px;
	padding: 15px 15px 16px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
	letter-spacing: 0.5px;
	margin-top: 13px;
	width: 100%;
}

#rd_t165y038r01dgks3tk4j .wpcf7 input[type=submit]:hover {
	background: gold;
	color: #ffffff !important;
}

#rd_t165y038r01dgks3tk4j .wpcf7 textarea {
	height: 132px;
}

#rd_t165y038r01dgks3tk4j .wpcf7 input:not ([type=submit] ),
	#rd_t165y038r01dgks3tk4j textarea, #rd_t165y038r01dgks3tk4j .wpcf7 select
	{
	border-radius: 0px;
}

#rd_t165y038r01dgks3tk4j .wpcf7 input:not ([type=submit] ),
	#rd_t165y038r01dgks3tk4j textarea, #rd_t165y038r01dgks3tk4j .wpcf7 input[type=submit],
	#rd_t165y038r01dgks3tk4j .wpcf7 select {
	margin-top: 3px;
}

#rd_t165y038r01dgks3tk4j p {
	margin-bottom: 7px;
}

#rd_t165y038r01dgks3tk4j .wpcf7 input:not ([type=submit] ),
	#rd_t165y038r01dgks3tk4j .wpcf7  textarea, #rd_t165y038r01dgks3tk4j .wpcf7 select
	{
	border: 1px solid #636372;
	background: #ffffff;
}

#rd_t165y038r01dgks3tk4j .wpcf7 input[type=submit] {
	background: #03acd8;
	color: #ffffff !important;
}